DB_PASSWORD=password
JWT_SECRET=super-secret-key
GOOGLE_CLIENT_ID=your-id
GOOGLE_CLIENT_SECRET=your-secret
OPENAI_API_KEY=your-key
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
EUREKA_URL=http://eureka-server:8761/eureka/